body {
  background: #8B9DC3;
  margin: 0 auto;
}
#game-board {
  position: fixed;
  bottom: 0;
  width: 100%;
}
.minion {
  width: 100px;
  height: 200px;
  background-color: #F6D155;
  position: absolute;
  bottom: 0px;
  margin: 0px 50px;
  -webkit-border-top-left-radius: 50px;
  -webkit-border-top-right-radius: 50px;
  -moz-border-radius-topleft: 50px;
  -moz-border-radius-topright: 50px;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
}
#minion1 {
  left: 50px;
}
#minion2 {
  left: 50%;
  margin-left: -50px;
}
#minion3 {
  right: 50px;
}
.minion > .eye {
  width: 60px;
  height: 60px;
  margin-left: 14px;
  margin-top: 20px;
  background: #f2f2f2;
  border: 6px solid #3B5998;
  border-radius: 50%;
}
.deadline{
  width: 100%;
  height: 5px;
  position: absolute;
  bottom: 600px;
  left: 0px;
  background: #EA4335;
}
#result {
  font-size: 40px;
  width: 200px;
  height: 60px;
  color: #001c33;
  position: absolute;
  left: 10px;
  top: 10px;
}
#level {
  font-size: 40px;
  width: 200px;
  height: 60px;
  color: #001c33;
  position: absolute;
  right: 10px;
  top: 10px;
}
#overlay {
  position: absolute;
  z-index: 1000;
  background: rgba(247, 247, 247, 0.15);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
#startGame {
  width: 400px;
  height: 150px;
  text-align: center;
  background: #3B5998;
  position: absolute;
  z-index: 1001;
  top: 100px;
  left: 50%;
  margin-left: -200px;
}
#lostGame {
  width: 400px;
  height: 150px;
  text-align: center;
  background: #3B5998;
  position: absolute;
  z-index: 1001;
  top: 100px;
  left: 50%;
  margin-left: -200px;
  display: none;
}
